.navbar{
    border-right: 0.5px solid gray;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    .wraper{
      display: flex;
      align-items: center;
      padding: 20px;
      justify-content: space-between;
      width: 100%;
      .search{
          display: flex;
          align-items: center;
          border: 0.5px solid lightgray;
          padding: 3px;
          input{
              border: none;
              outline: none;
              background-color: transparent;
              &::placeholder{
                  font-size: 12px;
              }
          }
      }
      .items{
          display: flex;
          align-items: center;
          .item{
              display: flex;
              align-items: center;
              margin-right: 20px;
              .icon{
                  font-size: 20px;
  
              }
              .avtar{
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
              }
          }
      }
    }
  
  }